:root {
    --center: calc(50% - 105px);
    --locked: 2%;
}

@keyframes float1 {
    33% { transform: rotateY(8deg) rotateZ(1.75deg) }
    66% { transform: rotateY(-8deg) rotateZ(-1.75deg) }
}

@keyframes float2 {
    25% { transform: rotateY(-8deg) rotateZ(-1.75deg) }
    75% { transform: rotateY(8deg) rotateZ(1.75deg) }
}

@keyframes float3 {
    30% { transform: rotateY(8deg) rotateZ(1.75deg) }
    70% { transform: rotateY(-8deg) rotateZ(-1.75deg) }
}

@keyframes float4 {
    40% { transform: rotateY(-8deg) rotateZ(1.75deg) }
    60% { transform: rotateY(8deg) rotateZ(-1.75deg) }
}

@keyframes fading-L {
    10% {
       -webkit-mask-image: linear-gradient(to right, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-TL {
    10% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to bottom right, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-T {
    10% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-TR {
    10% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to bottom left, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-R {
    10% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to left, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-BR {
    10% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to top left, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-B {
    10% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to top, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

@keyframes fading-BL {
    10% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 15%);
    }
    20% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 30%);
    }
    30% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 45%);
    }
    40% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 60%);
    }
    50% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 75%);
    }
    60% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 90%);
    }
    70% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 105%);
    }
    80% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 155%);
    }
    90% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 210%);
    }
    95% {
        -webkit-mask-image: linear-gradient(to top right, black 0%, transparent 265%);
    }
    100% {
        -webkit-mask-image: none;
    }
}

body {
    background-color: #222222;
}

[class^=box] {
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 200px;
    border: solid 5px rgba(8, 50, 113);
    border-radius: 10px;

    background-color: #222222;
    text-align: center;
    color: rgb(28, 158, 223);
    transition: top 2s, left 2s, right 2s, bottom 2s, opacity 1.5s;
}

.recenter {
    position: absolute;
    z-index: 3;
    height: 200px;
    width: 200px;
    border: solid 5px rgba(8, 50, 113);
    border-radius: 10px;
    opacity: 0;

    background-color: #222222;
    text-align: center;
    color: rgb(28, 158, 223);
    transition: top 0.5s, left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s ease 0.25s;
}

.hidden {
    visibility: hidden;
    opacity: 0%;
}

.sway1 {
    animation-delay: 2s;
    animation-name: float1;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.sway2 {
    animation-delay: 2s;
    animation-name: float2;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.sway3 {
    animation-delay: 2s;
    animation-name: float3;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

.sway4 {
    animation-delay: 2s;
    animation-name: float4;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.container {
    background-color: #222222;
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center {
    cursor: pointer;
    background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/83606464_10163323071200085_8106077981752950784_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Y7YBJybWjjQAX-3iSmS&_nc_ht=scontent-dfw5-1.xx&oh=00_AT91GD59ljfHVCXMFDRdSZpSBhvsK3KGL2s3IwUWfGY1hA&oe=6378871E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 220px;
    width: 220px;
    border-radius: 10px;
}


.TL {
    top: var(--center);
    left: var(--center);
}

.slide-TL {
    top: var(--locked);
    left: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-TL, float1;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.T {
    top: var(--center);
}

.slide-T {
    top: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-T, float2;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.TR {
    top: var(--center);
    right: var(--center);
}

.slide-TR {
    top: var(--locked);
    right: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-TR, float3;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.L {
    left: var(--center);
}

.slide-L {
    left: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-L, float4;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.R {
    right: var(--center);
}

.slide-R {
    right: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-R, float1;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.BL {
    bottom: var(--center);
    left: var(--center);

}

.slide-BL {
    bottom: var(--locked);
    left: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-BL, float2;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.B {
    bottom: var(--center);
}

.slide-B {
    bottom: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-B, float3;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

.BR {
    bottom: var(--center);
    right: var(--center);
}

.slide-BR {
    bottom: var(--locked);
    right: var(--locked);
    animation-delay: 0s, 2s;
    animation-name: fading-BR, float4;
    animation-duration: 1.95s, 9s;
    animation-iteration-count: 1, infinite;
}

[class^=expander] {
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 200px;
    border: solid 5px rgba(8, 50, 113);
    border-radius: 10px;
    background-color: #222222;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    color: rgb(28, 158, 223);
    transition: top 0.45s, left 0.45s, right 0.45s, bottom 0.45s, opacity 0.6s, width 0.45s, height 0.45s, visibility 0.6s;
    bottom: var(--center);
    left: var(--center);
}

.blowUp {
    position: absolute;
    /* Safari doesn't support z-index */
    transform: translateZ(50px);
    z-index: 10;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    margin: 0 0 1px 1px;
    border: solid 5px rgba(8, 50, 113);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;

    /* figure out a way to calculate expanding font size */
    /* font-size: calc(height*.5); */

    background-color: #222222;
    text-align: center;
    color: rgb(28, 158, 223);
    transition: top 2s ease 0.2s, left 2s ease 0.2s, right 2s ease 0.2s, bottom 2s ease 0.2s, opacity 0.5s ease 0.2s, width 2s ease 0.2s, height 2s ease 0.2s;
    bottom: 0%;
    left: 0%;
}
