.container {
  align-self: center;
  background-color: #222222;
  position: relative;
  width: 100%;
  height: var(--containerH);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
}

.center {
  cursor: pointer;
  /* background-image: url("./assets/Profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  z-index: 1;
  transform: translateZ(1px);
  text-align: center;
  height: 220px;
  width: 220px;
  font-size: 22px;
  font-weight: bold;
  color: var(--lightBlue);
  letter-spacing: 0.369mm;
}

.centerImage {
  height: 88%;
  width: 90%;
  border-radius: 10px;
}

[class^=box] {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: solid 5px rgba(8, 50, 113);
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 6px 6px 10px 0px var(--orange30);
  background-color: #222222;
  /* text-align: center; */
  color: var(--lightBlue);
  transition: top 2s, left 2s, right 2s, bottom 2s, opacity 1.5s, box-shadow 0.75s;
}

.box:hover {
  box-shadow: 6px 6px 25px 2px var(--orange60);
}

.box:hover > [class^=icon] {
  filter: invert(1);
  opacity: 80%;
}

[class^=icon] {
  margin-bottom: 10px;
  pointer-events: none;
  height: 60%;
}

.hidden {
  visibility: hidden;
  opacity: 0%;
}

/* move outer boxes in, then fade out to allow blowup to take over */
.recenter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 200px;
  width: 200px;
  border: solid 5px rgba(8, 50, 113);
  border-radius: 10px;
  opacity: 0;
  font-size: 20px;
  background-color: #222222;
  color: var(--lightBlue);
  transition: top 0.5s, left 0.5s, right 0.5s, bottom 0.5s, opacity 0.5s ease 0.25s;
}

.TL {
  top: var(--center);
  left: var(--center);
}

.slide-TL {
  top: var(--locked);
  left: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-TL, float1;
  animation-duration: 1.95s, 12s;
  animation-iteration-count: 1, infinite;
  /* perspective-origin: bottom right; */
}

.T {
  top: var(--center);
}

.slide-T {
  top: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-T, float2;
  animation-duration: 1.95s, 19s;
  animation-iteration-count: 1, infinite;
  /* perspective-origin: center; */
}

.TR {
  top: var(--center);
  right: var(--center);
}

.slide-TR {
  top: var(--locked);
  right: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-TR, float3;
  animation-duration: 1.95s, 14s;
  animation-iteration-count: 1, infinite;
  /* perspective-origin: bottom left; */
}

.L {
  left: var(--center);
}

.slide-L {
  left: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-L, float4;
  animation-duration: 1.95s, 17s;
  animation-iteration-count: 1, infinite;
}

.R {
  right: var(--center);
}

.slide-R {
  right: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-R, float1;
  animation-duration: 1.95s, 13s;
  animation-iteration-count: 1, infinite;
}

.BL {
  bottom: var(--center);
  left: var(--center);

}

.slide-BL {
  bottom: var(--locked);
  left: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-BL, float2;
  animation-duration: 1.95s, 18s;
  animation-iteration-count: 1, infinite;
}

.B {
  bottom: var(--center);
}

.slide-B {
  bottom: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-B, float3;
  animation-duration: 1.95s, 15s;
  animation-iteration-count: 1, infinite;
}

.BR {
  bottom: var(--center);
  right: var(--center);
}

.slide-BR {
  bottom: var(--locked);
  right: var(--locked);
  animation-delay: 0s, 2s;
  animation-name: fading-BR, float4;
  animation-duration: 1.95s, 16s;
  animation-iteration-count: 1, infinite;
}
