.paralax-1 {
  width: 75%;
  min-height: 200px;
  background-image: url("/assets/imgs/bg-linkedin.png");

  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.paralaxBuffer {
  width: 100%;
  min-height: 50px;
  background-color: var(--orange60);
}
